#bookListWrapper {
	width: 100%;
	padding: 10px;
}

#bookListWrapper input {
	width: 25%;
}

#bookListWrapper .book {
	border: 1px solid gray;
	padding: 10px;
	margin-bottom: 10px;	
}

#bookListWrapper .book .book-details {
	margin-left: 160px;
}

li.book {
	background: #fff url("../images/adultery.jpeg") no-repeat;
}