<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="images/the-fault.jpeg" alt="Generic placeholder image" width="140" height="140">
          <h2>The Fault in Our Stars</h2>
          <p>Despite the tumor-shrinking medical miracle that has bought her a few years, Hazel has never been anything but terminal, her final chapter inscribed upon diagnosis. With an amazing and gorgeous unexpected plot twist.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/adultery.jpeg" alt="Generic placeholder image" width="140" height="140">
          <h2>Adultery</h2>
          <p>Linda, in her thirties, begins to question the routine and predictability of her days. In everybodys eyes, she has a perfect life-happy marriage, children and a career. Yet what she feels is an amazing feelings of joy and happyness.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/life-or-death.jpeg" alt="Generic placeholder image" width="140" height="140">
          <h2>Life or Death</h2>
          <p>Why would a man escape from prison the day before he's due to be released? Audie Palmer has spent a decade in prison for an armed robbery in which four people died, including two of his gang. Read to find out what happens five years later.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Wings of Fire. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Wings of Fire traces the life and times of India's former president A.P.J. Abdul Kalam. It gives a glimpse of his childhood as well as his growth as India's Missile Man. Summary of the Book Wings an amazing journey...</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="images/wings-of-fire.jpeg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Geronimo Stilton Spacemice#2 : You're Mine, Captain!<span class="text-muted">Oh yeah, it's that good. See for yourself.</span></h2>
          <p class="lead">Geronimo Stilton meets outer space in this cosmically fun spin-off series!Meet Geronimo StiltonixHe is a spacemouse - the Geronimo Stilton of a parallel universe! He is captain of the spaceship exploring the Universe...</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="images/geronimo.jpeg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. Playing It My Way : My Autobiography<span class="text-muted">Checkmate.</span></h2>
          <p class="lead">I knew that if I agreed to write my story, I would have to be completely honest, as thats the way I have always played the game and that would mean talking about a number of things I have not addressed to the public...</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="images/playing.jpeg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->